{% load crispy_forms_tags %}
{% block content %}

<head>
<title>fieldset Tag</title>
<style>
	p{
	   color:#db7093;
	   margin-left:440px;
	   font-size:40px;
	   font-weight:bold;
		}
	form{
             color:white;
	width:600px;
             height:300px;
	margin:auto;
	margin-top:30px;}
	div{
	background-color:#28455e;
		}
                  .tx{
	margin-left:20px;
		}
</style>
</head>

<div>
<form method="post" class="wd">
{% csrf_token %}
<fieldset class="wd">
<legend>校易发帖</legend>
{{ form|crispy }}
</fieldset>
<div>
<button type="submit">发布</button>
</div>
</form>
</div>
{% endblock content %}